* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color: #fff;
    background-color: rgb(48, 48, 48);
}

.game {
    width: 100vw;
    max-width: 1000px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.nav-container {
    background-color: #038C65;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    border-radius: 5px;
    margin-top: 20px;
}

.field-container {
    width: 1000px;
    height: 405px;
    background-color: #fff;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    border-bottom: 20px solid rgb(156, 156, 156);
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    margin-top: 20px;
}

.btn-container {
    display: flex;
    margin: 20px 0;
}

.btn-container button {
    font-size: 1.5rem;
    width: 100px;
    height: 40px;
    margin: 0 10px;
    padding: 0 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.status {
    margin: 10px;   
    font-size: 1.6rem;
}

.hidden{
    display: none;
}

.players-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #025939;
    /* border-radius:5px; */
    height: 100%;
    width: 100%;
}


.player {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(209, 209, 209);
    color: black;
    margin: 10px;
    padding: 0 10px;
    border-radius: 5px;
    height: 200px;
    width: 200px;
}

.player:first-child {
    border-bottom-left-radius: 50px;
}
.player:last-child {
    border-bottom-right-radius: 50px;
}

.p-card-list {
    font-size: 1.76rem;
    display: flex;
    flex: 0.9;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.p-card-list span {
    margin: 5px 2px;
    border: 2px solid green;
    text-align:center;
    
    width: 34px;
}


.active {
    border: 3px solid rgb(184, 170, 40);
}

.failed {
    border: 3px solid rgb(218, 45, 15);
}